/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: darkred;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: gold;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

  h1{
    font-size: x-large;
    color:darkred;
    text-shadow: -1px 1px 2px #000,
    1px 2px 6px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    font-family: 'Open Sans', sans-serif;
  }
  
  label{
    font-size: medium;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    font-family: 'Open Sans', sans-serif;
  }

legend{
  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: white; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("images/carwallpaper.AVIF");

  }
  
  
  li{
    display: inline-flex;
    text-decoration: none;
  }
  
  nav{
    background-color: rgb(58, 58, 58);
    
  }
  
  
  h1{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
  }
  
  
  .mletter{
    text-align: center;
    color: #fff;
    padding: 140px;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
  
    
  }
  
  button{
    font-size: 15px;
    border-radius: 15px;
    background-color: darkgrey;
    height: 45px; 
  width: 80px; 
    
    
  }
  
  a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke-width: .5px;
      -webkit-text-stroke-color: black;
  
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    color:black ;
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }
  
  footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:rgb(58, 58, 58);
    position: absolute;
    }
    
    .slogo{
      height: 60px;
    width: 60px;
    }
    .social-links ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .social-links li {
      margin-right: 10px;
    }
    
    .social-links a {
      color: #fff;
      font-size: 20px;
    }
    
    .social-links a:hover {
      color: red;
    }
  
    
    @media screen and (max-width: 600px) {
      .social-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .social-links li {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

@media (min-width: 601px) and (max-width: 1024px) {
  /* Styles for screens between 601px and 1024px */
}

@media (min-width: 1025px) {
  /* Styles for screens greater than 1025px */
}
    
  